# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Build
target/
build/
*.jar
*.war

# Maven
.mvn/wrapper/maven-wrapper.jar

# Local duplicate project folder
NexCart-Cloud-Native-E-Commerce-Microservices-Platform/
