server:
  port: 8084

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**
          filters:
            - CustomRouteFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
